body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    background-color: #424242;
    color: #CFCFCF;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

#users {
    display: flex;
    flex-direction: row;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}


#lp {
    height: 150px;
    width: 150px;
    background-color: #CFCFCF;
    box-shadow: 0 9px 12px 0 #8BE8A0, 0 17px 50px 0 rgba(0,0,0,0.19);
}

#users {
    box-shadow: 0 9px 12px 0 #8BE8A0, 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

.user_first {
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

.user_second {
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

.user_third {
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

.user_fourth {
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}


.games_first {
    box-shadow: 0 9px 12px 0 #7B00A8, 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}



.btn {
    text-align: center;
    padding: 5px;
    background-color: #949494;
    color: white;
    border: none;
    height: 30px;
    width: auto;
    transition: background-color .45s;
    border-radius: 15px;
    border-color: #949494;
    margin: 5px;
}

    .btn:hover {
        box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .btn:focus {
        background-color: #C2C2C2;
    }


.user {
    width: 50%;
    margin: 0 auto;
}

.gameTitle {
    padding-bottom: 10px;
    margin-top: 0%;
}

a {
    color: #8BE8A0;
}

